  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- <a href="#inam" class="carousel-control-prev" data-slide="prev">
              <span class="carousel-control-prev-icon">Next</span>
              <button>Prev</button>
            </a>
            <a href="#inam" class="carousel-control-next" data-slide="next">
              <span class="carousel-control-next-icon"></span>
              <button></button>
            </a> -->
        <a href="#inam" data-slide="prev">
          <!-- <span class="carousel-control-prev-icon">Next</span> -->
          <button class="btn btn-sm btn-car">Prev</button>
        </a>
        <a href="#inam" data-slide="next" style="float: right;">
          <!-- <span class="carousel-control-next-icon"></span> -->
          <button class="btn btn-sm btn-car">Next</button>
        </a>


        <div id="inam" class="carousel slide" data-ride="carousel" style="margin-top: 15px ;">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 col-lg-4">
                    <div class="card" style="max-width: 300px; border: 0;">
                      <img src="../../../assets/img/Samsung Galaxy S.jpg" class="card-img-top" />
                      <div class="card-body">
                        <h4 class="card-title">Samsung Galaxy S5</h4>
                        <p class="card-text" style="display: inline;">Discount Price: $300 </p>
                        <p style="text-decoration: line-through; display: inline; float: right;">$400</p>
                        <br>
                        <a href=""><i class="fa fa-cart-plus" aria-hidden="true"></i>Add to Cart</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-lg-4">
                    <div class="card" style="max-width: 300px; border: 0;">
                      <img src="../../../assets/img/Samsung Galaxy S.jpg" class="card-img-top" />
                      <div class="card-body">
                        <h4 class="card-title">Nokia Lumia 1320</h4>
                        <p class="card-text" style="display: inline;">Discount Price: $200 </p>
                        <p style="text-decoration: line-through; display: inline; float: right;">$400</p>
                        <br>
                        <a href=""><i class="fa fa-cart-plus" aria-hidden="true"></i>Add to Cart</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-lg-4">
                    <div class="card" style="max-width: 300px; border: 0;">
                      <img src="../../../assets/img/Samsung Galaxy S.jpg" class="card-img-top" />
                      <div class="card-body">
                        <h4 class="card-title">LG Leon 2015</h4>
                        <p class="card-text" style="display: inline;">Discount Price: $350 </p>
                        <p style="text-decoration: line-through; display: inline; float: right;">$400</p>
                        <br>
                        <a href=""><i class="fa fa-cart-plus" aria-hidden="true"></i>Add to Cart</a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 col-lg-4">
                    <div class="card" style="max-width: 300px; border: 0;">
                      <img src="../../../assets/img/Samsung Galaxy S.jpg" class="card-img-top" />
                      <div class="card-body">
                        <h4 class="card-title">Samsung Galaxy S5</h4>
                        <p class="card-text" style="display: inline;">Discount Price: $300 </p>
                        <p style="text-decoration: line-through; display: inline; float: right;">$400</p>
                        <br>
                        <a href=""><i class="fa fa-cart-plus" aria-hidden="true"></i>Add to Cart</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-lg-4">
                    <div class="card" style="max-width: 300px; border: 0;">
                      <img src="../../../assets/img/Samsung Galaxy S.jpg" class="card-img-top" />
                      <div class="card-body">
                        <h4 class="card-title">Nokia Lumia 1320</h4>
                        <p class="card-text" style="display: inline;">Discount Price: $200 </p>
                        <p style="text-decoration: line-through; display: inline; float: right;">$400</p>
                        <br>
                        <a href=""><i class="fa fa-cart-plus" aria-hidden="true"></i>Add to Cart</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-lg-4">
                    <div class="card" style="max-width: 300px; border: 0;">
                      <img src="../../../assets/img/Samsung Galaxy S.jpg" class="card-img-top" />
                      <div class="card-body">
                        <h4 class="card-title">LG Leon 2015</h4>
                        <p class="card-text" style="display: inline;">Discount Price: $350 </p>
                        <p style="text-decoration: line-through; display: inline; float: right;">$400</p>
                        <br>
                        <a href=""><i class="fa fa-cart-plus" aria-hidden="true"></i>Add to Cart</a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>



          </div>
        </div>
        <div style="text-align: center;">
          <button class="btn btn-lg btn-primary" routerLink="/product-page">See All</button>
        </div>

      </div>

    </div>
    <br>
    <br>
