  <!-- FOOTER  -->
  <!-- footer main -->

  <div id="container">
    <div id="part1">
      <div id="companyinfo">
        <span style="font-size: 35px;">WTC <span style="color: #87A7B3;">Store</span></span>
        <p id="title">Welcome to WTC Store</p>
        <p id="detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua..</p>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-youtube" aria-hidden="true"></i>
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </div>
      <div id="explore">
        <p id="txt1">User Navigation</p>
        <a class="link" href="#">My Account</a>
        <a class="link" href="#">Order History</a>
        <a class="link" href="#">Wishlist</a>
        <a class="link" href="#">Vendor Contact</a>
        <a class="link" href="#">Front Page</a>
      </div>
      <div id="visit">
        <p id="txt1">Categories</p>
        <a class="link" href="#">Mobile Phones</a>
        <a class="link" href="#">Home Accessories</a>
        <a class="link" href="#">LED TV</a>
        <a class="link" href="#">Computer</a>
        <a class="link" href="#">Gadgets</a>
      </div>
      <div id="legal">
        <!-- <p id="txt3">Legal</p> <a class="link1" href="#">Terms and Conditions</a> <a class="link1" href="#">Private
          Policy</a> -->
      </div>
      <div id="subscribe">
        <p id="txt4">Newsletter</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <br>
        <form> <input id="email" type="email" placeholder="Type your Email"> </form>
        <button class="btn btn-primary">Subscribe</button>
      </div>
    </div>
  </div>
  <div id="part2">
    <p id="txt6">
      ©2021 WTC Store. All right reserved
      <i class="fa fa-cc-discover" aria-hidden="true" style="float: right;"></i>
      <i class="fa fa-cc-mastercard" aria-hidden="true" style="float: right;"></i>
      <i class="fa fa-cc-paypal" aria-hidden="true" style="float: right;"></i>
      <i class="fa fa-cc-visa" aria-hidden="true" style="float: right;"></i>

    </p>


  </div>
