#container {
  width: 100%;
  margin: 0;
  color: #aaa7a7;
}

.title {
  font-size: 35px;
}

#part1 {
  width: 100%;
  height: 350px;
  background-color: #292929;
  margin: 0;
}

#part2 {
  width: 100%;
  height: 50px;
  background-color: black;
  position: relative;
  top: -15px;
  margin: 0;
}

#companyinfo {
  width: 14%;
  height: 280px;
  position: relative;
  left: 8%;
  top: 30px;
}

#comtitle {
  font-size: 30px;
}

#title {
  color: gray;
  position: relative;
  top: 0px;
  font-size: 14.1px;
}

#detail {
  color: #aaa7a7;
  font-size: 16px;
}

#explore {
  width: 14%;
  height: 280px;
  position: relative;
  top: -235px;
  left: 29%;
}

#txt1,
#txt2,
#txt3,
#txt4,
#txt5 {
  color: white;
  font-size: 20px;
}

.link {
  display: inline-flex;
  font-size: 13px;
  width: 200px;
  height: 30px;
  margin-bottom: 5px;
  color: #aaa7a7;
  background-color: transparent;
  border-bottom: #aaa7a7 dotted;
  border-width: 2px 1px;
  position: relative;
  top: -10px;
}

.link:hover,
.link1:hover {
  color: #A2DBFA;
}

#visit {
  width: 14%;
  height: 280px;
  position: relative;
  top: -515px;
  left: 50%;
}

.text {
  color: #aaa7a7;
  font-size: 14px;
  margin-top: -10px;
}

#legal {
  width: 14%;
  height: 280px;
  position: relative;
  top: -800px;
  left: 59.5%;
}

.link1 {
  display: flex;
  width: 150px;
  height: 40px;
  color: #aaa7a7;
  background-color: transparent;
  border-top: 2px solid white;
  position: relative;
  top: -10px;
  margin-top: 7px;
}

#subscribe {
  position: relative;
  top: -1080px;
  left: 78%;
  width: 14%;
  height: 280px;
}

#email {
  color: white;
  position: relative;
  top: -20px;
}

.btn {
  position: relative;
  top: -10px;
}

#txt5 {
  position: relative;
  top: 0px;
}

.social {
  position: relative;
  top: -5px;
  margin-right: 10px;
  color: white;
  cursor: pointer;
}

.fa-facebook,
.fa-twitter,
.fa-linkedin,
.fa-youtube {
  margin-right: 5px;
  font-size: 20px;
}

.fa-facebook:hover {
  color: #3b579d;
}

.fa-linkedin:hover {
  color: #007bb6;
}

.fa-twitter:hover {
  color: #2caae1;
}

.fa-youtube:hover {
  color: #ff6b6b;
}

#txt6 {
  color: white;
  position: relative;
  top: 5px;
  left: 8%;
  width: 80%;
  font-size: 12px;
  color: #aaa7a7;
}

.fa-cc-discover,
.fa-cc-mastercard,
.fa-cc-paypal,
.fa-cc-visa {
  font-size: 25px;
  margin-right: 3px;
  margin-left: 3px;
}


@media screen and (max-width: 1200px) {
  #part1 {
    width: 100%;
    height: 250px;
    background-color: #292929;
    margin: 0;
  }

  #comtitle {
    font-size: 15px;
  }

  #title {
    font-size: 10px;
  }

  #detail {
    font-size: 10px;
  }

  .fa {
    font-size: 15px;
  }

  #explore #txt1,
  .link {
    font-size: 65%;
    width: 100px;
    height: 22px;
    margin-bottom: 1px;
  }

  #visit #txt1,
  .link {
    font-size: 70%;
    width: 100px;
    height: 22px;
    margin-bottom: 1px;
  }

  #subscribe #txt4 {
    font-size: 70%;
    width: 100px;
    height: 22px;
  }

  #subscribe #txt5 {
    font-size: 70%;
    margin: 0;
  }

  #email {
    font-size: 10px;
  }

  .m-btn {
    font-size: 10px;
  }
}

@media screen and (max-width: 720px) {
  #part1 {
    width: 100%;
    height: 300px;
    background-color: #292929;
    margin: 0;
  }

  #comtitle {
    font-size: 15px;
  }

  #title {
    font-size: 10px;
  }

  #detail {
    font-size: 10px;
  }

  .fa {
    font-size: 15px;
  }

  #explore #txt1,
  .link {
    font-size: 65%;
    width: 100px;
    height: 22px;
    margin-bottom: 1px;
  }

  #visit #txt1,
  .link {
    font-size: 70%;
    width: 100px;
    height: 22px;
    margin-bottom: 1px;
  }

  #subscribe #txt4 {
    font-size: 70%;
    width: 100px;
    height: 22px;
  }

  #subscribe #txt5 {
    font-size: 70%;
    margin: 0;
  }

  #email {
    font-size: 10px;
  }

  .m-btn {
    font-size: 10px;
  }
}
