  <div class="catalog" style="padding-bottom: 50px;">
    <div class="card" style="max-width:300px;display: inline-flex; margin: 5px; text-align: center; border: 0;">
      <img class="card-img-top" src='../../../assets/img/Mi Note Pro.jpg' alt="Card image">
      <br>
      <div>
        <h6>Mobiles</h6>
        <button class="btn btn-sm btn-secondary" (click)="navigate('mobiles')">View Categories</button>
      </div>
    </div>
    <div class="card" style="max-width:300px;display: inline-flex; margin: 5px; text-align: center; border: 0;">
      <img class="card-img-top disabled" src='../../../assets/img/Samsung Galaxy S.jpg' alt="Card image">
      <br>
      <div>
        <h6>Laptops</h6>
        <button class="btn btn-sm btn-secondary disabled">View Categories</button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
